@{
    ViewBag.Title = "Armures";
}

    <form id="saveArmures" method="post">
        <h3>Ajouter une armure :</h3>
        <p>
            <label for="contactId">Id:</label>
            <input type="number" name="Id_armure" />
        </p>
        <p>
            <label for="contactName">Nom armure:</label>
            <input type="text" name="Name_armure" />
        </p>
        <p>
            <label for="contactName">Nom anglais:</label>
            <input type="text" name="VO_Name_armure" />
        </p>
        <p>
            <label for="contactName">CA:</label>
            <input type="text" name="CA" />
        </p>
        <p>
            <label for="contactName">Bonus de CA:</label>
            <input type="text" name="Bonus_CA" />
        </p>
        <p>
            <label for="contactName">Force requise:</label>
            <input type="text" name="Force" />
        </p>
        <p>
            <label for="contactName">Poids armure:</label>
            <input type="number" name="Poids_armure" />
        </p>
        <p>
            <label for="contactName">Prix armure:</label>
            <input type="text" name="Prix_armure" />
        </p>
        <p>
            <label for="contactName">Description armure:</label>
            <input type="text" name="Description_armure" />
        </p>

        <input type="button" id="saveArmure" value="Ajouter" />
    </form>

<br />

<div id="body">
    Armures actuelle ;
    <ul id="armures"></ul>

</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/armures', function (contactsJsonPayload) {
                $(contactsJsonPayload).each(function (i, item) {
                    $('#armures').append("<li><a href=http://localhost:61621/api/Armures/"+item.Id_armure+">" + item.Name_armure + "</a></li>");
                });
            });
        });


        $('#saveArmure').click(function () {
            $.post("/api/armures/",
                $("#saveArmures").serialize(),
                function (value) {
                    $('#armures').append("<li><a href=http://localhost:61621/api/Armures/"+value.Id_armure+">" + value.Name_armure + "</a></li>");
                },
                "json"
            );
        });
    </script>
}
