@model List<APIDonjonEtDragon.Models.Damage_types>

@{
    ViewBag.Title = "dmg";
}

    <h2>viens de : http://www.dnd5eapi.co</h2>


<table class="table">


    @foreach (var item in Model)
    {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <a href=@Html.DisplayFor(modelItem => item.url)> lien </a>
        </td>
           
        </tr>
    }

</table>
