@{
    ViewBag.Title = "Armures";
}

    

<form id="saveArmes" method="post">
    <h3>Ajouter une arme :</h3>
    <p>
        <label for="contactId">Id:</label>
        <input type="number" name="Id" />
    </p>
    <p>
        <label for="contactName">Name:</label>
        <input type="text" name="Name" />
    </p>
    <p>
        <label for="contactName">nom englais:</label>
        <input type="text" name="VO_Name" />
    </p>
    <p>
        <input name="IsGuerre" type="radio" value="false" />
        <label for="Remember">arme courante</label>
        <input name="IsGuerre" type="radio" value="true" />
        <label for="Remember">arme de guerre</label>
    </p>
    <p>
        <input name="IsDistant" type="radio" value="false" />
        <label for="Remember">corps à corps</label>
        <input name="IsDistant" type="radio" value="true" />
        <label for="Remember">distance</label>
    </p>
    <p>
        <label for="contactName">Bobo:</label>
        <input type="text" name="Bobo" />
    </p>
    <p>
        <label for="contactName">Type bobo:</label>
        <input type="text" name="Type_bobo" />
    </p>
    <p>
        <label for="contactName">Poids:</label>
        <input type="number" name="Poids" />
    </p>
    <p>
        <label for="contactName">Prix:</label>
        <input type="text" name="Prix" />
    </p>
    <p>
        <label for="contactName">Propriete:</label>
        <input type="text" name="Propriete" />
    </p>
    <p>
        <label for="contactName">Description:</label>
        <input type="text" name="Description" />
    </p>
    <input type="button" id="saveArme" value="Ajouter" />
</form>

<br />

<div id="body">
    Armes actuelle ;
    <ul id="armes"></ul>

</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/armes', function (contactsJsonPayload) {
                $(contactsJsonPayload).each(function (i, item) {
                    $('#armes').append('<li>' + item.Name + '</li>');
                });
            });
        });


        $('#saveArme').click(function () {
            $.post("/api/armes/",
                $("#saveArmes").serialize(),
                function (value) {
                    $('#armes').append('<li>' + value.Name + '</li>');
                },
                "json"
            );
        });
    </script>
}