@{
    ViewBag.Title = "Home Page";
}

    <div id="body">
        Armes actuelle ;
        <ul id="armes"></ul>

    </div>

@section scripts{
    <script type="text/javascript">
$(function()
{
        $.getJSON('/api/armes', function(contactsJsonPayload)
        {
            $(contactsJsonPayload).each(function(i, item)
            {
                $('#armes').append('<li>' + item.Name + '</li>');
            });
        });
});
    </script>
}